== {{int:filedesc}} ==

{{Artwork
#if ( $external.auteur != "" )
| Author = $external.auteur
#else
| Author = {{unknown|author}}
#end
| Title = {{Title|$external.titre|lang=fr}}
| Description = {{mld
| fr = $external.analyse
}}
#if ( $external.date != "" )
| Date = $external.date
#else
| Date = {{Other date|unknown}}
#end
#if ( $external.taille != "" )
| Dimensions = $external.taille
# elseif ( $external.hauteur && $external.largeur )
| Dimensions = {{Size|unit=cm|height=$external.hauteur|width=$external.largeur}}
#end
#if ( $external.technique != "" )
| Medium = {{Technique|$external.technique}}
#end
| Institution = {{Institution:Archives nationales (France)}}
#if ( $external.cote_origine == "" )
| Accession number = $external.cote
#else
| Accession number = $external.cote ({{Original accession number|$external.cote_origine}})
#end
#if ( $external.source != "" || $external.archim != "" )
| References =
 #if ( $external.source != "" )
 * [$external.source Document sur le site des archives]
 #end
 #if ( $external.archim != "" )
 * {{Base Archim|$external.archim}}
 #end
#end
| Source = {{Archives Nationales cooperation project}}
| Permission = {{PD-old-100-1923}}
}}

#if ( $external.annee != "" )
[[Category:$external.annee in France]]
#end
#if ( $external.num_versement )
[[Category:Media contributed by the Archives Nationales (France)/$external.num_versement]]
#else
[[Category:Media contributed by the Archives Nationales (France)]]
#end
#if ( $external.categorie != "" )
[[$external.categorie]]
#end
[[Category:Collections of Archives nationales (France)]]