== {{int:filedesc}} ==

{{Artwork
 | Artist =
#foreach ($keyword in $keywords)
#if ($keyword.startsWith("Creator:"))
[[$keyword]]
#end
#end
 | Title = 
 | Description = {{mld
    | fr = $IPTC.CaptionAbstract
   }}
 | Date =
 | Medium = 
 | Dimensions = 
 | Institution = 
 | Location = 
 | Inscriptions = 
 | Permission = {{PD-old-auto-1923|deathyear=}}
{{CC-zero}}
 | Source = $user.displayName ([[User:$user.login]])
}}
#if ($GPS.GPSVersionID == "2.200")
#parse ("includes/gps.vm")
#end
#parse ("includes/minicul.vm")

#foreach ($keyword in $keywords)
#if ($keyword.startsWith("Category:"))
[[$keyword]]
#end
#end
#parse ("includes/wmfr.vm")
#parse ("includes/user.vm")
[[Category:Files by $user.login]]
