== {{int:filedesc}} ==

{{Information
 | Description = {{mld
    | fr = $Iptc.CaptionAbstract
   }}
 | Source = {{own}}
 | Date = $date
 | Author = $user.displayName ([[User:$user.login]])
 | Permission = {{cc-by-sa-3.0}}
}}
#if ($GPS.GPSVersionID == "2.200")
#parse ("gps.vm")
#end
#foreach ($keyword in $keywords)
#if ($keyword.matches("[PI]A[0-9]{8}"))
{{Mérimée|$keyword}}
#end
#end

#foreach ($keyword in $keywords)
#if ($keyword.startsWith("Category:"))
[[$keyword]]
#end
#end
#parse ("wmfr.vm")
#parse ("user.vm")
[[Category:Files by $user.login]]
