== {{int:filedesc}} ==

{{Information
 | Description = {{mld
    | fr = $IPTC.CaptionAbstract
   }}
 | Source = {{own}}
 | Date = $date
 | Author = $user.displayName ([[User:$user.login]])
 | Permission = {{cc-by-sa-4.0|$user.displayName}}
}}
#if ($GPS.GPSVersionID == "2.200")
#parse ("includes/gps.vm")
#end
#parse ("includes/minicul.vm")

#foreach ($keyword in $keywords)
#if ($keyword.startsWith("Category:"))
[[$keyword]]
#end
#if ($keyword.startsWith("{{") && $keyword.endsWith("}}"))
$keyword
#end
#end
#parse ("includes/wmfr.vm")
#parse ("includes/user.vm")
[[Category:Files by $user.login]]
