== {{int:filedesc}} ==

{{Specimen
 | Description = {{mld
  | fr = [[:fr:$external.vernaculaire]], $external.type, $external.caracs.
 }} 
 | taxon = $external.binominal
 | authority = $external.autorite
 | institution = Université de Rennes 1
 | accession number = $Iptc.CaptionAbstract
 | period = {{Date|$external.date}}
 | author = [[User:$user.login|$user.displayName]] & [[User:Pymouss|Pymouss]]
 | source = {{own}}
 | Date = $date
 | permission = {{self|cc-by-sa-4.0|attribution=$user.displayName}}
}}
{{Wikimedia France - Université de Rennes 1|year=2015|quarter=1}}
#if ($GPS.GPSVersionID == "2.200")
#parse ("includes/gps.vm")
#end

#foreach ($keyword in $keywords)
#if ($keyword.startsWith("Category:"))
[[$keyword]]
#end
#end
#parse ("includes/wmfr.vm")
#parse ("includes/user.vm")
[[Category:Files by $user.login]]
[[Category:Files by Pymouss]]
[[Category:Taxidermied $external.binominal in the collections of zoology of Université de Rennes 1]]
