{{Information
 | description =
{{Pronunciation|$external.text|lang=br|comment=
 {{en|Male voice. Speaker from $external.fromfr.}}
 {{fr|Voix masculine. Locuteur de $external.fromen.}}
 {{br|Mouezh paotr, yezher eus $external.frombr.}}
}}
 | date = 2015-08-10
 | source = {{WikiKomzoù|year=2016|quarter=3}}
 | author = {{u|$external.author}}
 | permission = {{self|cc-by-4.0|author=$external.author}}
}}

[[Category:Media supported by Wikimedia France - WikiKomzoù - 2016Q3]]
[[Category:Breton pronunciation of names of cities]]
[[Category:Communes in Bretagne]]
